# Merge options

# The changelog should use union merge on master, but not on release branches
/CHANGELOG.md merge=union

# spec/truffleruby.mspec should use union merge to make it easier to add specs to :next
/spec/truffleruby.mspec merge=union

# Rules for GitHub's Linguist language-classification system. We're abusing the
# 'vendored' attribute to exclude files as a lot of this isn't really vendored,
# and a whole lot of actually vendored code isn't listed! What we want to do is
# make the stats accurate for what is actually runtime code.

# Note that changes to this file have to be *committed* for github-linguist to
# notice them.

# Non-runtime code

/bench/* linguist-vendored
/bin/* linguist-vendored
/logo/* linguist-vendored
/mx.truffleruby/* linguist-vendored
/spec/* linguist-vendored
/test/* linguist-vendored
/tool/* linguist-vendored
/lib/json/data/* linguist-vendored
/lib/json/java/* linguist-vendored
/lib/json/ext/* linguist-vendored
/lib/json/tests/* linguist-vendored
/lib/json/tools/* linguist-vendored
/src/main/c/Makefile linguist-vendored
/src/main/c/truffleposix/Makefile linguist-vendored
/lib/gems/gems/*/bin/setup linguist-vendored
/lib/truffle/post_install_hook.sh linguist-vendored
/src/test/* linguist-vendored
/src/processor/* linguist-vendored

# Generated code

/src/main/java/org/truffleruby/parser/parser/RubyParser.java linguist-generated

# templates

/lib/mri/rdoc/generator/template/* linguist-vendored

# Documentation

/lib/gems/gems/*/doc/* linguist-documentation

# All our headers are C - don't magically work out they're ObjectiveC or C++

*.h linguist-language=C
