# OS
.DS_Store

# Editors
*~

# IntelliJ
.idea
*.iml

# NetBeans
nbproject

# Eclipse
.classpath
.project
.settings
.factorypath

# C extensions
lib/cext/truffleposix.so
lib/cext/truffleposix.dylib
lib/cext/trufflemock.bc
lib/cext/ruby.su
lib/cext/ruby.bc
lib/cext/sulong-libs
lib/mri/openssl.su
lib/mri/zlib.su
lib/mri/syslog.su
/.ext

bench/chunky_png/oily_png/ext/oily_png/Makefile
bench/chunky_png/oily_png/ext/oily_png/*.bc
bench/chunky_png/oily_png/ext/oily_png/*.su
bench/chunky_png/oily_png/lib/oily_png/oily_png.su

bench/psd.rb/psd_native/ext/psd_native/Makefile
bench/psd.rb/psd_native/ext/psd_native/*.bc
bench/psd.rb/psd_native/ext/psd_native/*.su
bench/psd.rb/psd_native/lib/psd_native/psd_native.su

src/main/c/*/Makefile
!src/main/c/truffleposix/Makefile
src/main/c/*/*.bc
src/main/c/*/*.su
src/main/c/*/extconf.h
src/main/c/*/mkmf.log
src/main/c/truffleposix/truffleposix.o
src/main/c/truffleposix/truffleposix.so
src/main/c/truffleposix/truffleposix.dylib

test/truffle/cexts/**/Makefile
test/truffle/cexts/**/*.bc
test/truffle/cexts/**/*.su
test/truffle/cexts/**/extconf.h
test/truffle/cexts/**/mkmf.log
test/truffle/cexts/**/*.o
test/truffle/cexts/**/*.so
test/truffle/cexts/**/*.dylib

test/mri/tests/cext-c/**/Makefile
test/mri/tests/cext-c/**/*.bc
test/mri/tests/cext-c/**/*.su
test/mri/tests/cext-c/**/extconf.h
test/mri/tests/cext-c/**/mkmf.log
test/mri/tests/cext-c/**/*.o

# mx
/mx.truffleruby/.pydevproject
/mx.truffleruby/*.pyc
/mx.truffleruby/env
/mx.truffleruby/eclipse-launches
/mxbuild
/mx.imports
/TRUFFLERUBY.dist
/TRUFFLERUBY-LAUNCHER.dist
/TRUFFLERUBY-PROCESSOR.dist
/TRUFFLERUBY-TEST.dist

# ruby/spec
/rubyspec_temp

# Tests
/test/truffle/integration/gem-testing
/truffleruby-gem-test-pack-*
/test/truffle/docker/*/graalvm-*.tar.gz

# Benchmarking
/bench-results.json
/bench-results-processed.json

# Gem dirs
lib/ruby/gems/2.3.0/*
!lib/ruby/gems/2.3.0/gems
lib/ruby/gems/2.3.0/gems/*
!lib/ruby/gems/2.3.0/gems/did_you_mean-1.0.0
!lib/ruby/gems/2.3.0/gems/rake-10.4.2
!lib/ruby/gems/2.3.0/gems/minitest-5.8.5
!lib/ruby/gems/2.3.0/gems/power_assert-0.2.6
!lib/ruby/gems/2.3.0/gems/test-unit-3.1.5
!lib/ruby/gems/2.3.0/gems/net-telnet-0.1.1

!lib/ruby/gems/2.3.0/specifications
lib/ruby/gems/2.3.0/specifications/*
!lib/ruby/gems/2.3.0/specifications/default
!lib/ruby/gems/2.3.0/specifications/did_you_mean-1.0.0.gemspec
!lib/ruby/gems/2.3.0/specifications/rake-10.4.2.gemspec
!lib/ruby/gems/2.3.0/specifications/minitest-5.8.5.gemspec
!lib/ruby/gems/2.3.0/specifications/power_assert-0.2.6.gemspec
!lib/ruby/gems/2.3.0/specifications/test-unit-3.1.5.gemspec
!lib/ruby/gems/2.3.0/specifications/net-telnet-0.1.1.gemspec

# Bin directory
bin/*
!bin/gem
!bin/irb
!bin/rake
!bin/rdoc
!bin/ri
!bin/ruby
!bin/truffleruby.sh
!bin/testrb

# Diagnostic output directory
dumps/
