# macOS
.DS_Store
Info.plist
*.dSYM

# Editors
*~
/.vscode

# IntelliJ
.idea
*.iml

# NetBeans
nbproject

# Eclipse
.classpath
.project
.settings
.factorypath
.metadata
workingsets.xml

# C extensions
# We use more precise ignores than e.g. `*.o`
# to catch unexpected native build files in other directories
bench/chunky_png/oily_png/**/*.o
bench/chunky_png/oily_png/**/*.so
bench/chunky_png/oily_png/**/*.bundle
bench/chunky_png/oily_png/ext/oily_png/Makefile

bench/psd.rb/psd_native/**/*.o
bench/psd.rb/psd_native/**/*.so
bench/psd.rb/psd_native/**/*.bundle
bench/psd.rb/psd_native/ext/psd_native/Makefile

src/main/c/**/*.o
src/main/c/**/*.so
src/main/c/**/*.a
src/main/c/**/*.bundle
src/main/c/**/*.dylib
src/main/c/**/extconf.h
src/main/c/**/mkmf.log
src/main/c/*/Makefile
!src/main/c/prism-gem/Makefile
!src/main/c/spawn-helper/Makefile
!src/main/c/truffleposix/Makefile
!src/main/c/yarp/Makefile
src/main/c/cext-trampoline/trampoline.c
src/main/c/etc/constdefs.h
src/main/c/spawn-helper/spawn-helper
src/main/c/debug
src/main/c/rbs

spec/truffle/fixtures/libtestnfi.so
spec/truffle/fixtures/libtestnfi.dylib

test/truffle/cexts/**/*.o
test/truffle/cexts/**/*.so
test/truffle/cexts/**/*.bundle
test/truffle/cexts/**/mkmf.log
test/truffle/cexts/**/Makefile

test/mri/tests/cext-c/**/*.o
test/mri/tests/cext-c/**/*.so
test/mri/tests/cext-c/**/*.bundle
test/mri/tests/cext-c/**/extconf.h
test/mri/tests/cext-c/**/mkmf.log
test/mri/tests/cext-c/**/Makefile
test/mri/tests/cext-c/**/depend
/.ext

# Bundle
spec/ffi/.bundle/config
spec/ffi/vendor/bundle
test/truffle/cexts/grpc/vendor/bundle
test/truffle/gems/default-bundled-gems/.bundle/config

# mx
/mx.truffleruby/.pydevproject
/mx.truffleruby/*.pyc
/mx.truffleruby/env
/mx.truffleruby/eclipse-launches
/mxbuild
/TRUFFLERUBY*.dist
/eclipseformat.backup.zip
/mx.truffleruby/__pycache__
.checkstyle

# ruby/spec
/rubyspec_temp

# Tests
/mri_tests.txt
/test/truffle/ecosystem/blog6/Gemfile
/test/truffle/ecosystem/blog6/Gemfile.lock
/test/truffle/integration/gem-testing
/truffleruby-gem-test-pack
/tool/docker
/tool/llvm-ol7/*.tar.gz

# Benchmarking
/bench-results.json
/bench-results-processed.json

# Diagnostic output directory
dumps/
graal_dumps/
/native-image-build-rubyvm.json

# Profiling
profiles/
/time_metrics.stacks
/time_metrics_flamegraph.svg

# Jay
tool/jay/jay

# Generated
doc/user/README.md

# Ignore .rb/.log files at the root, it's temporary files to debug some issue
/*.rb
/*.log

# Ignore graphs and Seafoam generated illustrations
/*.bgv
/*.cfg
/*.pdf
/*.svg

# Jacoco
jacoco.exec
/coverage/
