# OS
.DS_Store

# Editors
*~

# IntelliJ
.idea
*.iml

# NetBeans
nbproject/private

# Eclipse
/.metadata
/.recommenders
/workingsets.xml
.classpath
.project
.settings
.factorypath

# C extensions
lib/cext/ruby.su
lib/mri/openssl.su

truffleruby/src/main/c/**/Makefile
truffleruby/src/main/c/**/*.bc
truffleruby/src/main/c/**/*.su
truffleruby/src/main/c/**/extconf.h
truffleruby/src/main/c/**/mkmf.log

test/truffle/cexts/**/Makefile
test/truffle/cexts/**/*.bc
test/truffle/cexts/**/*.su
test/truffle/cexts/**/extconf.h
test/truffle/cexts/**/mkmf.log

# Maven
lib/truffleruby.jar

# mx
/mx.truffleruby/*.pyc
/mx.truffleruby/env
/mx.truffleruby/eclipse-launches
/mxbuild
/mx.imports
/TRUFFLERUBY.dist
/TRUFFLERUBY-TEST.dist

# ruby/spec
/rubyspec_temp

# jt install graal-core
/graal

# Tests
/test/truffle/integration/gem-testing

# Findbugs
truffle-findbugs-report.html
findbugs-noUpdateChecks-3.0.0.tar.gz
findbugs-3.0.0

# Benchmarking
bench-results.json
bench-results-processed.json

# Gem dirs
lib/ruby/gems/2.3.0/*
!lib/ruby/gems/2.3.0/gems
lib/ruby/gems/2.3.0/gems/*
!lib/ruby/gems/2.3.0/gems/did_you_mean-1.0.0
!lib/ruby/gems/2.3.0/gems/rake-10.4.2
!lib/ruby/gems/2.3.0/gems/minitest-5.8.5
!lib/ruby/gems/2.3.0/gems/power_assert-0.2.6
!lib/ruby/gems/2.3.0/gems/test-unit-3.1.5
!lib/ruby/gems/2.3.0/gems/net-telnet-0.1.1

!lib/ruby/gems/2.3.0/specifications
lib/ruby/gems/2.3.0/specifications/*
!lib/ruby/gems/2.3.0/specifications/default
!lib/ruby/gems/2.3.0/specifications/did_you_mean-1.0.0.gemspec
!lib/ruby/gems/2.3.0/specifications/rake-10.4.2.gemspec
!lib/ruby/gems/2.3.0/specifications/minitest-5.8.5.gemspec
!lib/ruby/gems/2.3.0/specifications/power_assert-0.2.6.gemspec
!lib/ruby/gems/2.3.0/specifications/test-unit-3.1.5.gemspec
!lib/ruby/gems/2.3.0/specifications/net-telnet-0.1.1.gemspec

# Bin directory
bin/*
!bin/gem
!bin/irb
!bin/rake
!bin/rdoc
!bin/ri
!bin/ruby
!bin/truffleruby
!bin/testrb
