# Rules for GitHub's Linguist language-classification system. We're abusing the
# 'vendored' attribute to exclude files as a lot of this isn't really vendored,
# and a whole lot of actually vendored code isn't listed! What we want to do is
# make the stats accurate for what is actually runtime code.

# Ignore everything that isn't actually runtime code

bench/* linguist-vendored
bin/* linguist-vendored
logo/* linguist-vendored
mx.truffleruby/* linguist-vendored
spec/* linguist-vendored
test/* linguist-vendored
tool/* linguist-vendored
lib/json/data/* linguist-vendored
lib/json/java/* linguist-vendored
lib/json/ext/* linguist-vendored
lib/json/tests/* linguist-vendored
lib/json/tools/* linguist-vendored
src/main/c/Makefile linguist-vendored
src/main/c/truffleposix/Makefile linguist-vendored

# Some things that I just want to ignore as it skews things

lib/ruby/gems/2.3.0/gems/net-telnet-0.1.1/bin/setup linguist-vendored

# Ignore generated code

src/main/java/org/truffleruby/parser/parser/RubyParser.java linguist-generated

# Ignore templates

lib/mri/rdoc/generator/template/* linguist-vendored

# Ignore extra documentation

lib/ruby/gems/2.3.0/gems/rake-10.4.2/doc/rake.1 linguist-documentation

# All our headers are C - don't magically work out they're ObjectiveC or C++

*.h linguist-language=C
