/*td > form {*/
/*margin-bottom: 0;*/
/*}*/

footer {
    border-top: 1px solid #dfdfdf
}

form.new-post input[name="title"] {
    /*width: 100%;*/
}

form.new-post textarea[name="body"] {
    /*width: 100%;*/
    height: 500px;
}

#header, #content, #footnotes {
    max-width: 960px;
}

#header {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 14px;
    padding-bottom: 14px;
}

#content ul li.pure-menu-item {
    background: none;
    padding-left: 0;
    line-height: 1;
}

.pure-menu-horizontal {
    background-color: #e8e8e8;
}

textarea {
    resize: vertical;
}

.pure-menu-item code {
    background-color: white;
}

p.authors {
    margin-top: -10px;
}


