/.bundle/
/.idea/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/top-100-gems/
/tmp/
/vendor/bundle

/build/
/lib/yarp/yarp.*
/lib/yarp.bundle
/lib/yarp.so
test.rb
*.dSYM
*~

test.c
a.out

/ext/yarp/api_node.c
/fuzz/output/
/include/yarp/ast.h
/java/org/yarp/AbstractNodeVisitor.java
/java/org/yarp/Loader.java
/java/org/yarp/Nodes.java
/lib/yarp/node.rb
/lib/yarp/serialize.rb
/src/node.c
/src/prettyprint.c
/src/serialize.c
/src/token_type.c
/src/**/*.o

compile_commands.json
.cache/

autom4te.cache
configure
config.log
config.status
Makefile
/include/yarp/config.h
/config.h.in

tags
