/.bundle/
/.idea/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/top-100-gems/
/tmp/
/vendor/bundle

/build/
/lib/prism/prism.*
/lib/prism.bundle
/lib/prism.so
/test.rb
*.dSYM
/*.iml
*~

test.c
a.out

/ext/prism/api_node.c
/fuzz/output/
/include/prism/ast.h
/java/org/prism/AbstractNodeVisitor.java
/java/org/prism/Loader.java
/java/org/prism/Nodes.java
/lib/prism/compiler.rb
/lib/prism/dispatcher.rb
/lib/prism/dsl.rb
/lib/prism/mutation_compiler.rb
/lib/prism/node.rb
/lib/prism/serialize.rb
/lib/prism/visitor.rb
/src/node.c
/src/prettyprint.c
/src/serialize.c
/src/token_type.c
/src/**/*.o

compile_commands.json
.cache/

tags
