language: ruby
script: bundle exec rake
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - ruby-head
  - ree
  - rbx
  - jruby-18mode
  - jruby-19mode
matrix:
  allow_failures:
    - rvm: rbx
    - rvm: ruby-head
